@model IEnumerable<_24DH112651_Be2.Models.Product>

@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}
<head>
    <style>
        img {
            height: 100px;
            width: 100px;
        }
    </style>
</head>

<h2 class="bg-success ">DANH SACH SAN PHAM</h2>

<table class="table bg-info container-fluid ">

    <tr>
        <th class="bg-success col-md-2">Hinh anh </th>
        <th class="bg-success col-md-3">Ten San Pham</th>
        <th class="bg-success col-md-1">Don gia </th>
        <th class="bg-success col-md-2">Danh muc </th>
        <th class="bg-success col-md-4"></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>

            <td><img src="" @Html.DisplayFor(modelItem => item.ProductImage) /></td>
            <td>  @Html.DisplayFor(modelItem => item.ProductName) </td>
            <td> @Html.DisplayFor(modelItem => item.ProductPrice) </td>
            <td> @Html.DisplayFor(modelItem => item.Category.CategoryName)</td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id = item.ProductID }, new { @class = "btn btn-primary btn-sm" })
                @Html.ActionLink("Chi tiet", "Details", new { id = item.ProductID }, new { @class = "btn btn-primary btn-sm" })
                @Html.ActionLink("Xoa", "Delete", new { id = item.ProductID }, new { @class = "btn btn-primary btn-sm" })


            </td>
        </tr>
    }

</table>

<div class="form-group">
    <div class="col-md-ofset-8 col-md-4">
        @Html.ActionLink("Them moi", "Create", null, new { @class = "btn btn-primary" })
        </div>
    </div>






